# Firebase Configuration
FIREBASE_PROJECT_ID= "tesouraria-c4c80",
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@tesouraria-c4c80.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY= "AIzaSyB4dM36D8qivpsdFeeFOuZDwuo7cH6XL5A",
